<div>
  <h1>All Customers</h1>
  <!-- <button type="button" [routerLink]="['/customer/create/']">Register Customer</button> -->
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Funky Id</th>
        <th>Created On</th>
        <th>Updated On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{product.id}}</td>
        <td>{{customer.firstname}} {{customer.lastname}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.funkyId}}</td>
        <td>{{customer.createdOn}}</td>
        <td>{{customer.updatedOn}}</td>
        <td>
          <button type="button" routerLink="['/customer/update/'], customer.id]">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
